.main-container {
    height: 100vh;
    width: 100%;

    & .title-container {
        text-align: center;
    }

    & .card-container {
        display: inline-flex;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;

    }
}